html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}


/****************
Landing
**************/

.landing {
    /*  
    background-image: url(img/semi.jpg);
    position: static;
    z-index: -999;
    min-height: 80vh;
    min-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -130px;
    */
    
    display: table;
    width: 100%;
    height: 80vh;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(img/bca.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    h1 {
        font-size: 4.0em;
        text-align: center;
        font-weight: 900;
        color: #000;
        margin: 30px;
       -webkit-text-fill-color: #FF9900; 
       -webkit-text-stroke-width: 1px;
       -webkit-text-stroke-color: black;
    }
    
    #first-header{
    }
    
    #subheader {
        text-align: center;
        color: #FFF;
        font-size: 3.0em;
        margin-bottom: 80px;
    }
    
    #arrow {
        text-align: center;
    }
    
}
    
/****************
Our Class
***************/
#our-class {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    clear: both;
    
    h1 {
        font-size: 3.0em;
        text-align: center;
    }
    
    img {
        height: 80px;
        width: 80px;
    }
    
}

a {
    color: #000;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

/******
JS
******/
#overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    top: 690px;
    left: 0;
    position: absolute;
    display: none;
    text-align: center;
    img{
        margin-top: 8%;
        height: 300px;
        width: 300px;
    }
    ul{
        color: #FFF;
        margin: 30px 180px;
    }
    a {
        color:azure;
        font-size: 2em;
    }
    a:hover{
        color: cornflowerblue;
    }
}

